##### CHAUPAL TE CHARCHA - FRONTEND
NEXT_PUBLIC_API_URL=
API_INTERNAL_URL=http://127.0.0.1:3001
NEXT_PUBLIC_SITE_URL=https://blog.chaupal.com
NEXT_PUBLIC_GA4_ID=G-S59Q78H762
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_GSC_VERIFICATION=l-y0gLUqKkSQzS-4uD-jzzz1fxm5dmhBEHfdW16sXz0,QdVAfJ-HctHRmw_Nt26YnjFug1j1zfhD0gkeZNvYc7Q